<script>
import { Line } from 'vue-chartjs'

export default{
    name:'chart-line',
        extends: Line,
    props: ['data', 'options'],
    mounted () {
        this.renderChart(this.data, this.options)
    }
 
}
</script>


<style lang="css">

.card-container{
    background:rgb(246, 247, 248);
    border-top: 5px solid rgb(59, 130, 211);
}

</style>