<template>
    
    <div class="m-0 p-0">
        <label class="label-input-data" :for="inputName">{{label}}</label>
        <input @input="$emit('inputChange', data)" v-model="data" :class="classes" :name="inputName" :type="type" />
        <label class="input-alert m-0 p-0" v-if="this.error">{{this.errormsg}}</label>
    </div>
</template>


<script>

export default{
    name:'input-data',
    data(){
        return{
            error:false,
            errormsg:"",
            classes:'input-data'

        }
    },
    props:{
        value:{
            default: null
        },
        inputName:{
            type:String
        },
        type:{
            type: String,
            default: "text"
        },
        label:{
            type:String
        }
    },
    computed:{
        data:{
            get(){ return this.value; },
            set(value){ 
                this.$emit('input', value); 
                this.validateInput(value)
            }
        }
    },
    methods:{
        validateInput(value){

            if(this.type=="email" && value){
               const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
 
               let isValid = String(value).match(emailRegex)

                if(!isValid && !this.classes.includes("not-valid")){
                    this.error = true
                    this.errormsg = "Correo invalido"
                    this.classes = this.classes + " not-valid"
                }else if(isValid){
                    this.error = false
                    this.classes = this.classes.replace("not-valid","")
                    
                }
            }

            
        }
    }
}
</script>


<style lang="css">

.label-input-data{
    display:block;
    margin-bottom: 5px;
    font-size:14px;
}
.input-data{
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid rgba(202, 201, 201, 0.932);
    border-radius: 5px;
}

input.input-data:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(108, 179, 250, 0.5);
}

.input-alert{
    font-size:9px;
    font-weight: bold;
    color:red;
}

.not-valid{
    border:1px solid red !important;
}

.not-valid:focus{
    box-shadow: 0 0 0 3px rgba(231, 28, 45, 0.5) !important;
}

</style>