<template>
  <div id="app p-0 m-0">
      <navbar brandText="Survey System"/>
      <router-view></router-view>
      <notifications group="foo"  position="bottom right" :width="400"/>
  </div>
</template>

<script>

import {Navbar} from './components'
export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
