<template>

  <main class='main-content bgc-grey-200'>
    <div id='mainContent'>
      <div class="container-fluid">
        <slot />
      </div>
    </div>
  </main>

</template>

<script>
export default {
  name: 'main',
}
</script>
