<template>
    <div class="home-container d-flex align-items-center m-0 p-0">
        <div class="home-content p-5">
            <h2 class="subtitle-home">
                Encuesta al mercado y
                Analiza los resultados
            </h2>

            <div class="mt-5">
                <redirect-button redirectName='statisticsSurvey' text='Estadisticas'>Estadisticas</redirect-button>
                <redirect-button redirectName='createSurvey' text='Encuestas'>Crear Encustra</redirect-button>
            </div>
        </div>
        <!--<router-link to="/survey/statistics">Estadisticas</router-link>-->
        <!--<router-link to="/survey/create">Crear Encustra</router-link>-->

        
    </div>
</template>

<script>
import {RedirectButton} from '../components'

export default{
    name:'home',
    components:{
       RedirectButton
    }
}
</script>

<style lang="css">

.home-container{
    height: 100vh;
    background : linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url('../assets/images/survey1.jpg');

    background-size: cover;

    background-position: center;

}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    max-height: 100%;
    padding: 0 2rem;
}
.subtitle-home{
    text-transform: uppercase;
    font-size:clamp(2.5rem,10vw, 5rem);
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    box-shadow:3px 5px #2379e9;
    letter-spacing:3px;
}


</style>